.text-center {
  text-align: center;
  color: red;
  border: 15px solid blue;
}


.text-dark {
  color: green;
  border: 15px solid blue;
  border-radius: 13px;
}

.text-danger {
  color: goldenrod;
  border: 15px solid blue;
  border-radius: 13px;
} 

.text-info {
  color: blue;
  border: 15px solid blue;
  border-radius: 13px;
}